body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
table, td {
  border: 0px;
}
table {
  text-align: center;
  font-family: 'Antic';
  font-size: 14;
  border-spacing: 0;
}
.feat-desc {
  text-align: left;
}
.feat-status {
  text-align: center;
}
.feat-reward {
  text-align: right;
}
.crate-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50;
}
.currency {
  height: 25;
  width: 25;
}
.disc-img {
  position: relative;
  width: 60px;
}
.disc-tier {
  position: relative;
  top: 0;
}
.disc-emblem {
  position: absolute;
  top: 0;
}
.disc-power {
  position: absolute;
  top: 0;

}
.disc-src {
  width: 60px;
  height: 76px;
}
.status {
  font-weight: bold;
  vertical-align: middle;
  background-image: url(/asset/stats-dk-bg.png);
}
.status-td {
  text-align: left;
  vertical-align: middle;
}
.title {
  background-image: url(/asset/stats-title-bg.png);
  background-repeat:no-repeat;
  background-size:cover;
  font-weight: bold;
}
.pic-td {
  width: 61px;
}
.desc-td {
  width: 250px;
}
.disc-name {
  text-align: left;
  font-weight: bold;
  width: 251px;
}
.disc-desc {
  text-align: left;
  width: 252px;
}
.unit-even {
  background-image: url(/asset/stats-dk-bg.png);
  background-repeat:no-repeat;
  background-size:cover;
}
.unit-odd {
  background-image: url(/asset/stats-lt-bg.png);
  background-repeat:no-repeat;
  background-size:cover;
}
