.datacron-icon {
    display: inline-block;
    vertical-align: top
}
.datacron-text {
  vertical-align: top;
  text-align: left;
}
.datacron-header {
  background-color: #660033;
  text-align: center;
}
.datacron-footer {
  background: white;
  color: black;
  text-align: center;
}
.datacron-row-even {
  background-color: #282828;
  color: black;
}
.datacron-row-odd {

}
.datacron-icon__icon {
    position: relative
}
.datacron-icon__icon--size-sm{
  width: 60px;
  height: 60px;
}
.datacron-icon__callout-affix {
    background: 0 0 transparent url(/asset/datacron-ring-thin-bg.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-20%);
    transform: translate(-50%,-20%);
    z-index: 5
}
.datacron-icon__callout-affix--size-sm {
  width: 24px;
  height: 24px;
}
.datacron-icon__callout-affix-img {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    padding: 10%
}

.datacron-icon__bg {
    background: 0 0 transparent url(/asset/datacron-icon-bg-atlas.png) no-repeat;
    position: absolute;
    background-size: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.datacron-icon__bg--tier-0 {
    background-position: 0 0
}

.datacron-icon__bg--tier-1 {
    background-position: 0 33.3333333333%
}

.datacron-icon__bg--tier-2 {
    background-position: 0 66.6666666667%
}

.datacron-icon__bg--tier-3 {
    background-position: 0 100%
}

.datacron-icon__box {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.datacron-icon__box-img {
    display: block;
    width: 100%;
    height: 100%
}

.datacron-icon__primaries {
    position: absolute;
    bottom: 0;
     bottom: var(--datacron-icon--primaries-bottom,0);
    left: 50%;
    z-index: 5;
    -webkit-transform: translate(-50%,-11%);
    transform: translate(-50%,-11%);
    display: grid;
    grid-template-columns: repeat(3,18px);
    grid-column-gap: 5px;
    grid-column-gap: var(--datacron-icon--primaries-gap,5px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.datacron-icon__primaries--max-3 {
  grid-template-columns: repeat(3,8px);
  --datacron-icon--primary-t2-margin: 30%
}
.datacron-icon__primaries--max-5 {
  grid-template-columns: repeat(5,8px);
  --datacron-icon--primaries-bottom: 3px;
  --datacron-icon--primaries-gap: 3px;
  --datacron-icon--primary-t2-margin: 65%;
  --datacron-icon--primary-t3-margin: 85%;
  --datacron-icon--primary-t4-margin: 65%
}
.datacron-icon__primary--t-1 {
    margin-top: 0;
    margin-top: var(--datacron-icon--primary-t1-margin,0)
}

.datacron-icon__primary--t-2 {
    margin-top: 0;
    margin-top: var(--datacron-icon--primary-t2-margin,0)
}

.datacron-icon__primary--t-3 {
    margin-top: 0;
    margin-top: var(--datacron-icon--primary-t3-margin,0)
}

.datacron-icon__primary--t-4 {
    margin-top: 0;
    margin-top: var(--datacron-icon--primary-t4-margin,0)
}

.datacron-icon__primary--t-5 {
    margin-top: 0;
    margin-top: var(--datacron-icon--primary-t5-margin,0)
}
.datacron-icon__primaries--size-sm {
  grid-template-columns: repeat(3,8px);
}

.datacron-icon__primary {
    border-radius: 50%;
    background-color: #081424;
    border: 2px solid #1e2a3a;
    width: 18px;
    height: 18px
}
.datacron-icon__primary--size-sm {
  width: 10px;
  height: 10px;
  border-width: 1px;
}
.datacron-icon__primary--second {
    margin-top: 30%
}

.datacron-icon__primary--is-active {
    background-image: radial-gradient(#feffff,#ffe59c)
}

.datacron-icon__level {
    text-align: center;
    font-weight: 700
}
