body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
table, td {
  border: 0px;
}
table {
  text-align: center;
  font-family: 'Antic';
  font-weight: bold;
  font-size:20;
  border-spacing: 0;
}
.gear-image {
  width: 50px;
  padding: 5
}
.gear-name {
  padding-left: 10px;
  text-align: left;
  text-shadow: 3px 3px black;
  width: 400px;
}
.gear-even {
  background-image: url(/asset/stats-dk-bg.png);
  background-repeat:no-repeat;
  background-size:cover;
}
.gear-odd {
  background-image: url(/asset/stats-lt-bg.png);
  background-repeat:no-repeat;
  background-size:cover;
}
.header-text {
  background-image: url(/asset/stats-title-bg.png);
  background-repeat:no-repeat;
  background-size:cover;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px black;
}
.footer-text {
	text-align: center;
	font-size: 15px;
}
.pull-left {
  float: left !important
}
.mod-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px
}
.mod-icon .mod-icon-img {
  width: 50px;
  height: 50px
}
.mod-icon-inner {
  display: block;
  background: radial-gradient(#aaa, #000 80%);
  border-radius: 13px 0 13px 7px;
  overflow: hidden
}
.mod-icon-5 {
  content: "";
  display: block;
  background-image: url(/asset/mod-slicing-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2
}
.mod-icon-6 {
  content: "";
  display: block;
  background-image: url(/asset/mod-slicing-6.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2
}
.gear-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px
}
.gear-icon:before {
  content: "";
  display: block;
  background-image: url(/asset/gear-atlas.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2
}
.gear-icon.gear-icon-tier1:before {
  background-position: -50px -144px
}

.gear-icon.gear-icon-tier2:before, .gear-icon.gear-icon-tier3:before {
  background-position: -100px -144px
}

.gear-icon.gear-icon-tier4:before, .gear-icon.gear-icon-tier5:before, .gear-icon.gear-icon-tier6:before {
  background-position: -150px -144px
}

.gear-icon.gear-icon-tier7:before, .gear-icon.gear-icon-tier8:before, .gear-icon.gear-icon-tier9:before, .gear-icon.gear-icon-tier10:before {
  background-position: -200px -144px
}

.gear-icon.gear-icon-tier11:before {
  background-position: -250px -144px
}

.gear-icon.gear-icon-tier12:before, .gear-icon.gear-icon-tier13:before {
  background-position: -300px -144px
}

.gear-icon.gear-icon-medium, .gear-icon.gear-icon-medium .gear-icon-img {
  width: 64px;
  height: 64px
}

.gear-icon.gear-icon-medium.gear-icon-tier1:before {
  background-position: -64px -80px
}

.gear-icon.gear-icon-medium.gear-icon-tier2:before, .gear-icon.gear-icon-medium.gear-icon-tier3:before {
  background-position: -128px -80px
}
.gear-icon .gear-icon-img {
  width: 50px;
  height: 50px
}

.gear-icon-inner {
  display: block;
  background: radial-gradient(#aaa, #000 80%);
  border-radius: 13px 0 13px 7px;
  overflow: hidden
}
.gear-icon-mk-level {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #fff;
  z-index: 10;
  font-size: 8px;
  text-shadow: 0 2px 2px #000;
  background-color: rgba(0, 0, 0, .3);
  padding: 3px 3px 0;
  line-height: 1
}
.gear-icon-tier1 .gear-icon-inner {
  background: radial-gradient(#4391a3, #000 80%)
}

.gear-icon-tier2 .gear-icon-inner, .gear-icon-tier3 .gear-icon-inner {
  background: radial-gradient(#4c9601, #000 80%)
}

.gear-icon-tier4 .gear-icon-inner, .gear-icon-tier5 .gear-icon-inner, .gear-icon-tier6 .gear-icon-inner {
  background: radial-gradient(#004b65, #000 80%)
}

.gear-icon-tier7 .gear-icon-inner, .gear-icon-tier8 .gear-icon-inner, .gear-icon-tier9 .gear-icon-inner, .gear-icon-tier10 .gear-icon-inner, .gear-icon-tier11 .gear-icon-inner {
  background: radial-gradient(#4700a7, #000 80%)
}

.gear-icon-tier12 .gear-icon-inner {
  background: radial-gradient(#997300, #000 80%)
}

.gear-icon-tier13 .gear-icon-inner {
  background: radial-gradient(#772c05, #000 80%)
}
