body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
table {
  font-family: 'Antic';
  font-size: 16;
  border-collapse: collapse;
}

.title {
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20;
}
.footer {
  text-align: left;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 14;
}
.memberOdd {
  text-align: left;
  background-color: grey;
  color: black;
  font-weight: bold;
  font-size: 18;
}
.memberEven {
  text-align: left;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 18;
}
