@import "unit_mods.css";
body {
  background-color: black;
  color: var(--text);
  margin: 0;
  padding: 0;
}
table, td {
  border: 0px;
}
table {
  text-align: center;
  font-family: 'Antic';
  font-size:35;
  text-shadow: 3px 3px var(--text-shadow);
  font-weight: bold;
  border-spacing: 0;
}

.footer-text {
  height: 30;
	font-size: 20;
}
.unit-extra {
  vertical-align: bottom;
  width: 100%;
  position: relative;

  background: linear-gradient(
    135deg,
    var(--gradient-1) 0%,   /* was solid */
    var(--gradient-2) 60%,
    var(--gradient-3) 100%
  );

}
.unit-name {
  height: 60px;
  width: 100%;
  position: relative;


  background: linear-gradient(
    135deg,
    var(--gradient-1) 0%,   /* was solid */
    var(--gradient-2) 60%,
    var(--gradient-3) 100%
  );

  vertical-align: top;
}
.mods-table {
  background-color: var(--bg-1);
}
.stat-title {
  background-color: var(--header);
}
.stat-header {
  background-color: var(--bg-0);
}
.stat-even {
  background-color: var(--bg-2);
  height: 40;
}
.stat-odd {
  background-color: var(--bg-1);
  height: 40;
}

.stat-name {
  background-color: var(--header)
  text-align: left;
}
.stat-relic {
  background-color: var(--bg-1);
  text-align: left;
}
.stat-right {
  padding: 5;
  vertical-align: top;
  text-align: left;
  width: 300;
}
.stat-left {
  padding: 5;
  vertical-align: top;
  text-align: right;
  width: 300;
}
.unit-gear {
  width: 33%;
  padding: 5;
  text-align: right;
}
.unit-image {
  background-color: black;
}
.unit-image-inner {
  border-spacing: 1;
}
.unit-level {
  text-align: left;
  padding: 5;
  width: 33%;
  color:gold;
}
.unit-portrait {
  background-repeat:no-repeat;
  background-position:top;
  background-size:cover;
  vertical-align: top;
  height: 750;
  width: 750;
}
.unit-portrait-compare {
  background-repeat:no-repeat;
  background-position:top;
  background-size:cover;
  vertical-align: top;
  height: 1000;
  width: 1000;
}
.unit-stat {
  text-align: left;
  padding: 5;
}
.unit-zeta {
  padding-top: 5;
  padding-left: 5;
  height: 40;
  text-align: left;
}
