body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
table, td {
  border: 0px;
}
table {
  text-align: center;
  font-family: 'Antic';
  font-size:35;
  text-shadow: 3px 3px #000000;
  font-weight: bold;
  border-spacing: 0;
}
