body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
table, td {
  border: 0px;
}
table {
  font-family: 'Antic';
  font-size: 16;
}
.player-name {
	background-color: white;
	color: black;
	text-align: center;
	vertical-align: top;
}
.stat-table {
  width: 200px;
  font-weight: bold;
}
.unit-name {
  border-bottom: 1px solid white;
  padding-top: 10;
  padding-bottom: 10;
}
.footer-text {
	text-align: center;
	font-size: 15px;
}
