body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
table, td {
  border: 0px;
  padding: 0px;
  border-style: solid;
}
table {
  font-family: 'Antic';
  font-size: 16;
  padding: 1px;

  font-weight: bold;
}
.main-table {
  width: 850px;
}
.platoon {
  background-color: white;
  color: black;
}
.squad {
  background-color: gray;
}
.row-even {
  background-color: grey;
}
.no-player {
  width: 33%;
  background-color: #e90e0e;
  color: white;
  font-weight: bolder;
}
.player {
  width: 33%;
  background-color: #91d4ff;
  color: black;
  font-weight: bolder;
}
